@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  background-color: #030712;
}

#bottom{
    background:linear-gradient(transparent,black);

}

*{
  font-family:'Helvetica neue';

}

:root{
  --c1:rgb(5, 36, 71);
  --c2: rgb(24, 50, 80);
  --c3: rgb(29, 102, 134);
  --c4: rgb(244,244,244);
}